<link rel="stylesheet" href="/css/_footer.css">
<footer >
    <span class="opacity-hover-text">
        DSA Visualizer &copy by Nishant Jain
    </span>
    <ul>
         <li><a class="opacity-hover-text" target="_blank" href="https://github.com/Nishant-Jain-Codes/DSA-visualiser"><i class="fa-brands fa-github"></i></a></li>
         <li><a class="opacity-hover-text" target="_blank" href="https://linkedin.com/in/nishant-jain-8a0247239"><i class="fa-brands fa-linkedin"></i></a></li>
         <li><a class="opacity-hover-text" target="_blank" href="mailidfornishantjain@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
</footer>