<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <ul id="main-list">
        <li>
            <a href="/sort"><ul class="sub-list">
                <li class="list-heading">Sorting Algorithms</li>  
                <li>Bubble Sort</li>
                <li>Selection Sort</li>
                <li>Insertion Sort</li>
                <li>Merge Sort</li>
                <li>Quick Sort</li>
            </ul></a>
        </li>
        <li>
            <a href="/search"><ul class="sub-list">
                <li class="list-heading">Searching Algorithms</li>
                <li>Linear Search</li>
                <li>Binary Search</li>
            </ul></a>
        </li>

    </ul>
</div>