<link rel="stylesheet" href="/css/search.css">
<div id="search-container">
    <div id="algorithm-visualization">
        algorithm-visualization
        <div id="array">arr</div>
        <div id="output"></div>
    </div>
    <div id="controls-and-callstack">
        <div id="controls">
            <input type="number" placeholder="No. to search" id="fname" required>
            <div id="different-algos">
                <button id="linear-search">Linear Search</button>
                <button id="binary-search">Binary Search</button>
            </div>
        </div>
        <div id="call-stack-visualization">
            call-stack-visualization
        </div>
    </div>
</div>
<script src="/js/search.js"></script>