<link rel="stylesheet" href="/css/sort.css">
<div id="search-container">
    <div id="algorithm-visualization">
        algorithm-visualization
        <div id="array">arr</div>
        <div id="output"></div>
    </div>
    <div id="controls-and-callstack">
        <div id="controls">
            <button id="insertionSortVisualization">Insertion Sort</button>
            <button id="selectionSortVisualization">Selection Sort</button>
            <button id="bubbleSortVisualization">Bubble Sort</button>
            <button id="mergeSortVisualization">Merge Sort</button>
            <button id="quickSortVisualization">Quick Sort</button>
            <button id="generateArray">Generate Array</button>
        </div>
        <div id="call-stack-visualization">
            call-stack-visualisation
        </div>
    </div>
</div>
<script src="/js/sort.js"></script>