<link rel="stylesheet" href="/css/sort.css">
<div id="search-container">
    <div id="algorithm-visualization">
        algorithm-visualization
    </div>
    <div id="controls-and-callstack">
        <div id="controls">
            controls
        </div>
        <div id="call-stack-visualization">
            call-stack-visualisation
        </div>
    </div>
</div>
<script src="/js/sort.js"></script>