#search-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    #algorithm-visualization{
        width: 100%;
        height: 60%;
        background-color: blue;
    }
    #controls-and-callstack{
        display: flex;
        width: 100%;
        height: 40%;
        #controls{
            input{
                width: 70%;
                margin: 10%;
                padding: 3%;
                font-size: 3vw;
            }
            #different-algos{
                width: 100%;
                display: flex;
                justify-content: center;
                button{
                    margin: 2%;
                    padding: 3%;
                    font-size: 2vw;
                }
            }
            // button{
            //     width: 30%;
            //     text-align: center;
            //     margin: 5%;
            //     padding: 5%;
            // }
            height: 100%;
            width: 50%;
            background-color: red;
        }
        #call-stack-visualization{
            height: 100%;
            width: 50%;
            background-color: green;
        }
    }
}