header {
  height: 5vh;
  background-color: #20262E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E9E8E8;
  font-size: 3vh; }
  header span {
    opacity: 0.9;
    letter-spacing: 0.1vw;
    word-spacing: 0.15vw;
    font-weight: 380; }
  header span:hover {
    opacity: 1;
    font-weight: 450;
    color: white; }
  header i {
    padding: 0 1vw 0 1vw;
    opacity: 0.6; }

header:hover {
  cursor: pointer; }
