#search-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  #search-container #algorithm-visualization {
    width: 100%;
    height: 60%;
    background-color: blue; }
  #search-container #controls-and-callstack {
    display: flex;
    width: 100%;
    height: 40%; }
    #search-container #controls-and-callstack #controls {
      height: 100%;
      width: 50%;
      background-color: red; }
      #search-container #controls-and-callstack #controls input {
        width: 70%;
        margin: 10%;
        padding: 3%;
        font-size: 3vw; }
      #search-container #controls-and-callstack #controls #different-algos {
        width: 100%;
        display: flex;
        justify-content: center; }
        #search-container #controls-and-callstack #controls #different-algos button {
          margin: 2%;
          padding: 3%;
          font-size: 2vw; }
    #search-container #controls-and-callstack #call-stack-visualization {
      height: 100%;
      width: 50%;
      background-color: green; }
