#search-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  #search-container #algorithm-visualization {
    width: 100%;
    height: 60%;
    background-color: blue; }
  #search-container #controls-and-callstack {
    display: flex;
    width: 100%;
    height: 40%; }
    #search-container #controls-and-callstack #controls {
      height: 100%;
      width: 50%;
      background-color: red; }
    #search-container #controls-and-callstack #call-stack-visualization {
      height: 100%;
      width: 50%;
      background-color: green; }
